body, html{
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    width: 80%;
    text-align: center;

}

input {
    width: 60%;
    height: 20%;
    border: 1px solid #2C2C2C;
    border-radius: 10PX;
    padding: 10px;
    display: block;
    margin: 0 auto;
    font-size: 100%;
}

.saveButton {
    border: 2px solid rebeccapurple;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    background-color: #2C2C2C;
    color: whitesmoke;
    font-size: 120%;
    font-weight: 500;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li > a {
    text-decoration: none;
}

ul li{
    margin-bottom: 5px;
}

.index-container {
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    background-color: #2C2C2C;
}

.link-anchor > a {
    color: white;
    text-decoration: none;
}

.edit {
    font-family: "Inter";
}